[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
djangorestframework = "==3.14.0"
djoser = "==2.2.2"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2 = "*"
pyyaml = "*"
uritemplate = "*"
gunicorn = "*"
django-health-check = "*"
psutil = "*"
django-cors-headers = "*"
django-redis = "*"
djet = "*"
drf-spectacular = {extras = ["sidecar"] }
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
install = "*"
drf-nested-routers = "*"
stripe = "*"
pydantic = "*"
django-unfold = "*"
isort = {extras = ["requirements_deprecated_finder", "pipfile_deprecated_finder"], version = "*"}
django-allauth = "*"
celery-redbeat = "*"
flower = "*"
django-trix = "*"
django-ses = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
