[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2 = "*"
pyyaml = "*"
uritemplate = "*"
gunicorn = "*"
django-health-check = "*"
psutil = "*"
django-cors-headers = "*"
django-redis = "*"
djet = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
